name: Deploy Cloudflare Worker

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 코드 체크아웃
        uses: actions/checkout@v4

      - name: Node.js 설정
        uses: actions/setup-node@v4
        with:
          node-version: '20' # 또는 프로젝트에 맞는 Node.js 버전

      - name: Wrangler 설치
        run: npm install -g wrangler

      - name: Cloudflare Workers에 배포
        run: wrangler deploy --name ${{ secrets.WORKER_NAME }}"
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          TARGET_URL: ${{ secrets.TARGET_URL }}
